{
    "presets": [
      [
        "@babel/preset-env", {
          "targets": {
            "node": "18.0.0"
          },
          "useBuiltIns": "usage",
          "corejs": "3.22",
          "debug": true
        }
      ]
    ]
  }